@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
/* for syne font */

body {
  width: 100%;
  margin: 20px;
  background-color: rgb(0, 0, 0);
}

h1 {
  color: #97c7f2;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "Syne", sans-serif, Arial, Helvetica;
}

p {
  color: white;
}
